body {
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  background: #efefef;
  text-align: center;
  width: 100%
}

ul, ol {
  padding: 0;
}

ul li {
  list-style-type: none;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-bottom: 5px;
  line-height: 1.5;
}

.foodImage {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.recipeList a {
  text-decoration: none;
}

.radioBtn {
  padding-bottom: 10px;
}

.optionBtn {
  display: flex;
  justify-content: center;
}

.optionBtn button {
  margin-left: 10px;
}

.optionBtn label {
  padding-right: 10px;
}
